/* MathJax 大小调整 */
.mathjax-overflow {
    font-size: 91% !important;
}

mjx-container.MathJax.CtxtMenu_Attached_0 {
    position: inherit !important;
}

/* 浅色主题 部分透明 */
html[data-theme="light"]
#recent-posts>.recent-post-item, /* 最近文章 */
html[data-theme="light"]
.layout_page>div:first-child:not(.recent-posts),
html[data-theme="light"]
.layout_post>#page, /* 主页 */
html[data-theme="light"]
.layout_post>#post, /* 正文 */ 
html[data-theme="light"]
.read-mode, /* 阅读模式 */
html[data-theme="light"]
#aside-content .card-widget, /* 侧边 */
html[data-theme="light"]
div#page, /* 主页 */
html[data-theme="light"]
div#post, /* 正文 */
html[data-theme="light"] 
div#archive,/* Archieve 特殊处理*/
html[data-theme="light"]
div#tag, /* 标签页的具体标签 */
html[data-theme="light"]
div#category /* 分类的具体分类 */
{
    background-color: rgba(255, 255, 255, 0.67);
}

/* 深色主题 */
html[data-theme="dark"]
div#page, /* 主页 */
html[data-theme="dark"]
div#post, /* 正文 */
html[data-theme="dark"] 
div#archive, /* Archieve 特殊处理*/ 
html[data-theme="dark"] div#tag,      /* 标签页的具体标签 */
html[data-theme="dark"] div#category /* 分类的具体分类 */
/* html[data-theme="dark"] header        头图透明  */
{
    background-color: rgba(0, 0, 0, 0.5);
}


/* 深色主题 首页文章栏 侧边栏 背景完全透明 */
html[data-theme="dark"]
#recent-posts>.recent-post-item, /* 最近文章 */
html[data-theme="dark"]
.layout_page>div:first-child:not(.recent-posts),
html[data-theme="dark"]
.layout_post>#page, /* 主页 */
html[data-theme="dark"]
.layout_post>#post, /* 正文 */ 
html[data-theme="dark"]
.read-mode, /* 阅读模式 */
html[data-theme="dark"]
#aside-content .card-widget /* 侧边 */
{
    background: var(--light_bg_color);
}

/* 导航页面,文章,archive(特别处理) 透明度 */
/* html[data-theme="dark"] header, */
html[data-theme="dark"] div#page,
html[data-theme="dark"] div#post,
html[data-theme="dark"] div#archive,
html[data-theme="dark"] div#tag,     /* 标签页的具体标签 */
html[data-theme="dark"] div#category /* 分类的具体分类 */ 
{
    opacity: 0.89;
}


/* 导航页面,文章,archive(特别处理) 透明度 */
/* html[data-theme="light"] header, */
html[data-theme="light"] div#page,
html[data-theme="light"] div#post,
html[data-theme="light"] div#archive,
html[data-theme="light"] div#tag,     /* 标签页的具体标签 */
html[data-theme="light"] div#category /* 分类的具体分类 */
{
    opacity: 0.97;
}


/* 底部处理 */


/* 浅色色主题 底部透明 + 背景无色透明  */
html[data-theme="light"]
footer#footer {
    background-color: rgba(255, 255, 255, 0.5);
    /* opacity: 0.3; */
}

html[data-theme="light"] #footer-wrap>*,
html[data-theme="light"] .framework-info>a {
    color: rgba(0, 0, 0, 0.67) !important;
}

/* 深色主题 底部透明 + 背景无色透明  */
html[data-theme="dark"]
footer#footer {
    opacity: 60%;
    background: transparent; /* 透明背景 */
}

html[data-theme="dark"]
nav#nav {
    opacity: 80%;
}

html[data-theme="light"]
nav#nav {
    opacity: 90%;
}

/* 歌词不显示 */
.aplayer-lrc { opacity: 0; }


/* 背景部分  */

/* 横屏背景设置 */
#web_bg {
    background: url(https://s3.bmp.ovh/imgs/2023/12/22/36431d16c60646d1.png);
    background-size: cover;
    transition: filter 0.6s ease;
}

/* 竖屏背景设置 */
@media  (max-width : 768px) {
    #web_bg {
        background: url(https://s3.bmp.ovh/imgs/2023/12/22/d9d0545f532e058f.png);
        background-size: cover;
        transition: filter 0.6s ease;
    }
}
