/* Body 放大 */ 
body {
    zoom: 109%;
    /* font-family: 'HarmonyOS Sans SC'; */
}


/* MathJax 大小调整 */
.mathjax-overflow {
    font-size: 90% !important;
}

mjx-container.MathJax.CtxtMenu_Attached_0 {
    position: inherit !important;
}

/* 竖屏背景设置 */
#web_bg {
    background: url(https://raw.githubusercontent.com/DarkSharpness/Photos/main/Touhou/pixiv_104376717.png);
    background-size: cover;
}

/* 横屏背景设置 */
@media  (max-width : 768px) {
    #web_bg {
        /* filter: grayscale(100%); */
        background: url(https://raw.githubusercontent.com/DarkSharpness/Photos/main/Touhou/pixiv_91828134.jpg);
        background-size: cover;
    }
}

/* 浅色主题 部分透明 */
html[data-theme="light"]
#recent-posts>.recent-post-item, /* 最近文章 */
html[data-theme="light"]
.layout_page>div:first-child:not(.recent-posts),
html[data-theme="light"]
.layout_post>#page, /* 主页 */
html[data-theme="light"]
.layout_post>#post, /* 正文 */ 
html[data-theme="light"]
.read-mode, /* 阅读模式 */
html[data-theme="light"]
#aside-content .card-widget, /* 侧边 */
html[data-theme="light"]
div#page, /* 主页 */
html[data-theme="light"]
div#post, /* 正文 */
html[data-theme="light"] 
div#archive/* Archieve 特殊处理*/
{
    background-color: rgba(255, 255, 255, 0.67);
}


/* 深色主题 首页文章栏 侧边栏 背景完全透明 */
html[data-theme="dark"]
#recent-posts>.recent-post-item, /* 最近文章 */
html[data-theme="dark"]
.layout_page>div:first-child:not(.recent-posts),
html[data-theme="dark"]
.layout_post>#page, /* 主页 */
html[data-theme="dark"]
.layout_post>#post, /* 正文 */ 
html[data-theme="dark"]
.read-mode, /* 阅读模式 */
html[data-theme="dark"]
#aside-content .card-widget /* 侧边 */
{
    background: var(--light_bg_color);
}


/* 导航页面,文章,archive(特别处理),头图 透明度 */
html[data-theme="dark"] div#page,
html[data-theme="dark"] div#post,
html[data-theme="dark"] div#archive,
html[data-theme="dark"] header {
    opacity: 0.89;
}

/* 深色主题 */
html[data-theme="dark"]
div#page, /* 主页 */
html[data-theme="dark"]
div#post, /* 正文 */
html[data-theme="dark"] 
div#archive /* Archieve 特殊处理*/ 
{
    background-color: rgba(0, 0, 0, 0.5);
}



/* 浅色色主题 底部透明 + 背景无色透明  */
html[data-theme="light"]
footer#footer {
    background-color: rgba(255, 255, 255, 0.5);
    /* opacity: 0.3; */
}

html[data-theme="light"] #footer-wrap>*,
html[data-theme="light"] .framework-info>a {
    color: rgba(0, 0, 0, 0.67) !important;
}



/* 深色主题 底部透明 + 背景无色透明  */
html[data-theme="dark"]
footer#footer {
    opacity: 60%;
    background: transparent; /* 透明背景 */
}


/* 歌词不显示 */
.aplayer-lrc {
    opacity: 0;
}

/* 自定义图标部分 */

@font-face {
    font-family: "iconfont"; /* Project id 3870791 */
    src: url('//at.alicdn.com/t/c/font_3870791_3urrm8c5o5m.woff2?t=1674898949174') format('woff2'),
         url('//at.alicdn.com/t/c/font_3870791_3urrm8c5o5m.woff?t=1674898949174') format('woff'),
         url('//at.alicdn.com/t/c/font_3870791_3urrm8c5o5m.ttf?t=1674898949174') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-zhihu:before {
    content: "\e60d";
  }
  
  .icon-shejiaotubiao-46:before {
    content: "\e64b";
  }
  
  .icon-bilibili:before {
    content: "\e609";
  }
  
  